div.project {
  padding: 0.5rem;

  border: solid 1px var(--c-dark-2);
  border-radius: 5px;

  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

a.preview {
  position: relative;
  display: block;

  width: 100%;
  aspect-ratio: 2 / 1;

  border-radius: 5px;
  overflow: hidden;

  & > img {
    object-fit: cover;
  }
}

div.info {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

div.title {
  display: flex;
  gap: 0.25rem;
  font-size: 1rem;

  span {
    color: var(--c-light-3);
  }

  a {
    color: var(--c-blue-1);
    font-weight: 600;
    text-decoration: underline;
  }
}
